@font-face {
    font-family: "Product Sans";
    src: url("./fonts/ProductSans-Regular.ttf");
}

body {
    font-family: "Product Sans", sans-serif;
    background-color: rgb(242, 235, 235)
}


.compilex-class {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.signup-title {
    color: rgb(67, 65, 65);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;

}

.signup-container {
    width: 100%;
    max-width: 350px;
    /* Adjust width as needed */
    margin: 0 auto;
    /* Centers the container horizontally */
    border: 1px solid #414040;
    /* Your border styling */
    padding: 20px;
    /* Adds space inside the border */
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 15px 5px rgba(53, 53, 53, 0.1);
    background-color: white;
}


.details {
    display: grid;
    grid-template-rows: 60px 60px 15px 60px 40px 50px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.details-input {
    height: 25px;
    width: 200px;
    padding: 5px 5px 5px 5px;
}

.login-button {
    background-color: rgb(89, 89, 240);
    color: white;
    border-style: none;
    border-radius: 5px;
    height: 35px;
    width: 212px;
    box-shadow: 0 9px 5px rgba(112, 8, 240, 0.1);
    cursor: pointer;
    margin-top: 10px;
}

.Google-button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 7px 5px rgba(53, 53, 53, 0.1);
    cursor: pointer;
}

.btn-icon {
    height: 16px;
    padding-right: 4px;
}

.or-divider {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 212px;
}

.or-divider span {
    height: 1px;
    background-color: rgb(200, 200, 200);
    flex: 1;
}

.or-divider p {
    color: rgb(159, 157, 157);
    font-size: 14px;
    margin: 0;
}

.forgot-password {
    display: flex;
    color: rgb(50, 106, 227);
    font-size: 14px;
    margin: 0 auto;
}

.signup-class {
    display: flex;
    color: rgb(159, 157, 157);
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.signup-page-link {
    color: rgb(42, 110, 245);
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}